* {
	border: 1px dashed red;
	min-height: 10px;
}

body{
    background: black;
}

p {
    color: blue;
}

.postcard {
    background-color: white;
    width: 400px;
    height: 300px;
    margin: auto;
}

.postcard .postcard-header {

}

.postcard .postcard-body {

}

.postcard .postcard-footer {
    
}